@page
@model BSFB07.Pages_Players.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.primaryOffPos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.primaryOffPos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.primaryDefPos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.primaryDefPos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.primarySpePos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.primarySpePos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.running)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.running)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.passing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.passing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.catching)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.catching)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.kicking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.kicking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.blocking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.blocking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.ovr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.ovr)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Player.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
